<%= image_tag  @portfolio_item.main_image  %> <br>


<h1> <%= @portfolio_item.title %> </h1>

<!-- <%= @portfolio_item.inspect %> -->

<p> <strong> <%= @portfolio_item.title  %> </strong>  </p>
<p> <%= @portfolio_item.subtitle  %> </p>
<p> <%= @portfolio_item.body  %> </p>
<%#=  portfolio_item.main_image  %> <br>
<%#= image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil?  %>
